<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DnsClient" version="1.0.7" targetFramework="net451" />
  <package id="log4net" version="2.0.8" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.11.0" targetFramework="net451" />
  <package id="MySql.Data" version="6.9.11" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net451" />
  <package id="Nito.AspNetBackgroundTasks" version="1.0.0" targetFramework="net451" />
  <package id="nunrar" version="1.0.1" targetFramework="net40" />
  <package id="RabbitMQ.Client" version="3.5.7" targetFramework="net451" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net451" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net451" />
  <package id="TsSoft.Commons" version="2.1.5710.29967" targetFramework="net451" />
</packages>