.custom-combobox,
.custom-combobox-toggle,
.custom-combobox-input,
.ui-autocomplete,
.ui-menu-item {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: white;
}
.custom-combobox {
  position: relative;
  display: inline-block;
  margin-right: 25px;
}
.custom-combobox-toggle {
  position: absolute !important;
  top: 0;
  bottom: 0;
  padding: 0;
  outline: none;
}
.custom-combobox-input {
  margin: 0;
  padding: 0 6px;
  outline: none;
  height: 27px;
  font-size: 13px !important;
  border: 1px solid #cdd0d8;
}
/* Layout helpers
----------------------------------*/
.ui-front {
  z-index: 100;
}
/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* Misc visuals
----------------------------------*/
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  z-index: 1;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 0;
}
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  /* removes extra width in IE */

}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
  text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
  width: 1.7em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
  width: 2.4em;
}
.ui-button-icons-only {
  width: 3.4em;
}
button.ui-button-icons-only {
  width: 3.7em;
}
/* button text element */
.ui-button .ui-button-text {
  display: block;
  line-height: normal;
}
.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
  padding: .4em 1em;
}
/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -1px;
}
.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -3px;
  border-top: 4px solid #000;
  border-right: 3px solid rgba(0, 0, 0, 0);
  border-left: 3px solid rgba(0, 0, 0, 0);
  width: 0;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
  left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
  right: .5em;
}
/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: none;
}
.ui-menu .ui-menu {
  margin-top: -3px;
  position: absolute;
}
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.ui-menu .ui-menu-divider {
  margin: 5px -2px 5px -2px;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  min-height: 1.5em;
  font-weight: normal;
  /*height: 1.5em;*/

}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}
.ui-menu .ui-state-disabled {
  font-weight: normal;
  margin: .4em 0 .2em;
  line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
  cursor: default;
}
/* icon support */
.ui-menu-icons {
  position: relative;
}
.ui-menu-icons .ui-menu-item a {
  position: relative;
  padding-left: 2em;
}
/* left-aligned */
.ui-menu .ui-icon {
  position: absolute;
  top: .2em;
  left: .2em;
}
/* right-aligned */
.ui-menu .ui-menu-icon {
  position: static;
  float: right;
}
.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden;
}
/* Component containers
----------------------------------*/
.ui-widget-content {
  /*border-left: 1px solid rgba(0,0,0,0);
	border-right: 1px solid rgba(0,0,0,0);*/

  background: #ffffff;
  color: #333333;
}
.ui-widget-content a {
  color: #333333;
}
.ui-widget-header {
  border: 1px solid #d9dce4;
  background: #d9dce4;
  color: #ffffff;
  font-weight: bold;
}
.ui-widget-header a {
  color: #ffffff;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 0;
  background: #ffffff;
  font-weight: normal;
  color: #3a3a3a;
}
.custom-combobox-toggle.ui-state-default,
.custom-combobox-toggle.ui-widget-content .ui-state-default,
.custom-combobox-toggle.ui-widget-header .ui-state-default {
  border: 1px solid #cdd0d8;
  border-left: 0;
  margin-left: -1px;
}
.ui-menu .ui-menu-item a.ui-state-default,
.ui-menu .ui-menu-item a.ui-widget-content .ui-state-default,
.ui-menu .ui-menu-item a.ui-widget-header .ui-state-default {
  border: 0;
}
.custom-combobox-input.ui-state-default {
  border: 1px solid #cdd0d8;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #3a3a3a;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  /*border: 1px solid #acaca8;*/

  border: 0;
  background: #d9dce4;
  font-weight: normal;
  color: #000000;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-widget-content .ui-state-hover,
.ui-menu .ui-menu-item a.ui-widget-header .ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-widget-content .ui-state-focus,
.ui-menu .ui-menu-item a.ui-widget-header .ui-state-focus {
  border: 1px solid #d9dce4;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
  color: #000000;
  text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  /*border: 1px solid #d7d7d3;*/

  border: 0;
  background: #ffffff;
  font-weight: normal;
  color: #666666;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #666666;
  text-decoration: none;
}
/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 0;
  background: #ffe45c;
  color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #b81900;
  color: #ffffff;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #ffffff;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #ffffff;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: alpha(opacity=70);
  font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: alpha(opacity=35);
  background-image: none;
}
.ui-state-disabled .ui-icon {
  filter: alpha(opacity=35);
  /* For IE8 - See #6059 */

}
.ui-tooltip {
  padding: .5em;
  font-size: .9em;
  background: #ffffff;
}
/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 0;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 0;
}
/* Overlays */
.ui-widget-overlay {
  background: #d9dce4;
  opacity: .5;
  filter: alpha(opacity=50);
}
.ui-widget-shadow {
  margin: -5px 0 0 -5px;
  padding: 5px;
  background: #000000;
  opacity: .2;
  filter: alpha(opacity=20);
  border-radius: 5px;
}
.ui-helper-hidden-accessible {
  display: none;
}
.ui-tooltip {
  padding: .5em;
  font-size: .9em;
  background: #fff;
  display: inline-block;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}
