<appheader></appheader>
<div class="container">
    <menu-path menulinks="menuPath"></menu-path>
    <div class="row">
        <menu-sm2 menulinks="menuLinks"></menu-sm2>
        <general-info current-page="currentShow" ng-if="currentShow == 'general-info'"></general-info>
        <abonent-list current-page="currentShow" ng-if="currentShow == 'abonent-list'"></abonent-list>
        <street-list current-page="currentShow" ng-if="currentShow == 'street-list'"></street-list>
        <request-list current-page="currentShow" ng-if="currentShow == 'request-list'"></request-list>
    </div>	<!-- /.row -->
</div>	<!-- /.container -->
<appfooter></appfooter>