<div>
    <div class="modal fade" id="{{iddialog}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <style>
                #{{iddialog}} #requeststreet .bootstrap-select {
                    margin-bottom: 0 !important;
                }
            </style>
            <div class="modal-content" cg-busy="loadPromise">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Заявка</h3>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" ng-show="showWarning">
                        Не все поля заполнены!
                    </div>
                    <div class="form-group">
                        <label class="control-label">Код</label>
                        <input type="text" class="form-control" ng-model="request.Id" placeholder="Введите код...">
                    </div>
                    <div>
                        <label class="control-label">Абонент:</label>
                        <select class="form-control selectpicker" title='Выберите абонента' data-width="100%" data-live-search="true" ng-model="request.AbonentId" id="{{iddialog}}AbonentId">
                            <option></option>
                            <option ng-repeat="option in abonents" value="{{option.Id}}" data-subtext="{{option.Note}}">{{option.Id}} - {{option.Fio}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="control-label">Исполнитель:</label>
                        <select class="form-control selectpicker" title='Выберите исполнителя... (на самом деле это поле не едактируется)' data-width="100%" data-live-search="true" ng-model="getModel.ExecutorId" id="{{iddialog}}ExecutorId">
                            <option></option>
                            <option ng-repeat="option in executors" value="{{option.Id}}" data-subtext="{{option.Note}}">{{option.Id}} - {{option.Fio}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="control-label">Ошибка:</label>
                        <select class="form-control selectpicker" title='Выберите ошибку... (на самом деле это поле не едактируется)' data-width="100%" data-live-search="true" ng-model="getModel.FailureId" id="{{iddialog}}FailureId">
                            <option></option>
                            <option ng-repeat="option in failures" value="{{option.Id}}" data-subtext="{{option.Note}}">{{option.Id}} - {{option.Name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Дата заявки</label>
                        <input type="text" class="form-control form-control datepicker" data-date-format="dd.mm.yyyy" ng-model="request.IncomingDate" placeholder="Введите дату заявки...">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Дата выполнения заявки</label>
                        <input type="text" class="form-control form-control datepicker" data-date-format="dd.mm.yyyy" ng-model="request.ExecutionDate" placeholder="Введите дату выполнения заявки...">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Выполнено</label>
                        <input type="checkbox" class="form-control checkbox" ng-model="request.Executed" placeholder="Введите статус заявки...">
                    </div>
                    <div ng-show="error" class="form-group font-small-danger">
                        {{error}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="submit()">
                        {{action == 'edit' ? 'Отредактировать запись' : 'Добавить запись'}}
                    </button>
                    <button type="button" class="btn btn-default" ng-click="close()">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>