<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования web.config см. на странице https://go.microsoft.com/fwlink/?LinkId=125889. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    В следующем примере преобразование "SetAttributes" будет изменять значение
    "connectionString" с целью использования "ReleaseSQLServer", только когда
    указатель "Match" находит атрибут "name", который имеет значение "MyDB".
    
    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
	-->
	<appSettings>
		<add key="debugScripts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="false" />
	</appSettings>
	<connectionStrings>
		<add name="PaysystemConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=FIRE2;Initial Catalog=Beta;User Id=DB_USER;Password=jlbyldfnhb" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
			<file value="D:/PaySystem/Logs/Beta/Practice/log.txt" xdt:Transform="Replace"/>
		</appender>
	</log4net>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
		В следующем пример преобразование "Replace" будет заменять весь 
		раздел <customErrors> в файле web.config.
		Заметьте, поскольку имеется только один раздел customErrors в узле 
		<system.web>, не требуется использовать атрибут "xdt:Locator".
      
		<customErrors defaultRedirect="GenericError.htm"
			mode="RemoteOnly" xdt:Transform="Replace">
			<error statusCode="500" redirect="InternalError.htm"/>
		</customErrors>
		-->
	</system.web>
	<dotNetOpenAuth>
		<reporting enabled="false" xdt:Transform="SetAttributes" />
	</dotNetOpenAuth>
</configuration>